/Project Summary.pptx
/W2_1 lab_jupyter_eda.ipynb
/W2_2 lab_jupyter_fe_bow_solution.ipynb
/W2_3 lab_jupyter_fe_course_sim_solution.ipynb
/W3_1 lab_jupyter_content_user_profile.ipynb
/W3_2 lab_jupyter_content_course_similarity.ipynb
/W3_3 lab_jupyter_content_clustering.ipynb
/W4_1 lab_jupyter_cf_knn.ipynb
/W4_2 lab_jupyter_cf_nmf.ipynb
/~$Project Summary.pptx